.corps{
background-color: #FFF4E1;
}
.resume{
  align-content: center;
  height: 100px;
  width: 300px;

}
.text{
  align-content: center;
  text-align: center;
}
.text2{
  align-content: center;
text-align: center;
}
