.imgm{
  align-content: center;
}
#reset{
  margin-left: 20px;
}
.add-main{
  padding-left: 280px;
    margin-left: 100px;
    background-color: #FAF0E6;
    margin-top:20px;
   margin-right:150px;
   margin-bottom:2em;

}
.tab{
  width: 70%;
}
.rs{
  width: 370px;
}
